/* === フィルタボタン ============================ */
.tfArea{
  display    : inline-block;
  position   : relative;
}
.tfImg{
  display    : inline-block;
  width      : 8px;
  height     : 8px;
  background : #eee;
  border     : 1px solid #777;
  margin     : 0px 0px;
  padding    : 2px;
  cursor     : pointer;
}
/* === フィルタボタン（カーソルオーバー時）======= */
.tfImg:hover{
  background : #FFD700;
}
/* === フィルタボタン内の画像色（SVG）============ */
.tfImg path{
  fill       : #777;
}
/* === フィルタリスト ============================ */
.tfList{
  display    : inline-block;
  position   : absolute;
  max-width  : 250px;
  min-width  : 140px;
  background : #fff;
  border     : 1px solid #777;
  top        : 15px;
  left       : 0;
  line-height: 1.1;
  font-weight: normal;
}
/* === フィルタリスト内のform ==================== */
.tfList form{
  max-height : 150px;           /* 縦幅 */
  overflow   : scroll;
  overflow   : overflow-y;
  overflow   : auto;
}
/* === フィルタリスト内のチェックボックス ======== */
.tfMeisai{
  text-align : left;
  padding    : 2px;
}
/* === フィルタリスト内の文字位置合わせ ========== */
.tfMeisai label{
  padding    : 0 10px 0 3px;
}
/* === OK/CANCELボタン =========================== */
.tfBtnArea{
  text-align : center;
  font-size  : 8pt;
  padding    : 3px 5px;
}
.tfBtnArea input{
  display    : inline-block;
  margin     : 0 5px;
}
/* === 含むボタンの入力エリア ==================== */
.tfInStr{
  padding    : 5px 3px;
  border-top : 1px solid #999;
  border-bottom: 1px solid #999;
}
.tfInStr input{
  box-sizing : border-box;
  width      : 100%;
  padding    : 1px 3px;
  font-weight: normal;
  font-size  : 95%;
  border     : 1px solid #ccc;
}
/* === フィルタ非表示 ============================ */
#roletable tr[cmanFilterNone]{
  display    : none;
}
/* === フィルタ非表示行と次行の間を二重線にする == */
#roletable tr[cmanFilterNone] + tr td{
  border-top : 3px double #777;
}
 /* --- （参考）テーブル全体のスタイル指定 ------- */
#roletable {
  width          : 100%;
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */
}
 /* --- ヘッダーのスタイル指定 ------------------- */
#roletable th {
  text-align    : center;            /* 文字位置   */
  /*font-weight   : bold;*/            /* 太文字     */
  font-weight   : normal;
  padding       : 0px 0px;             /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  background    : #ffe599;           /* 背景色     */
  white-space   : nowrap;
}
 /* --- 明細のスタイル指定 ----------------------- */
#roletable td {
  text-align    : center;            /* 文字位置   */
  padding       : 1px 0px;             /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  white-space   : nowrap;
}
