body { 
margin: 20px; 
background-image: url("img/b006.gif");
/*background-color: #000000;*/
/*font-size: 1.0em;*/
color:#5a2222;
}

.all{
/*max-width:700px;*/
/*border-color:#999999;*/
/*border-width:2px;*/
/*border-style:solid;*/
margin-right:auto;
margin-left:auto;
text-align:center;
/*font-size: 0.9em;*/
}

.headerfutter{
width:500px;
margin-right:auto;
margin-left:auto;
text-align:center;
}

.returntop{
width:500px;
margin-right:auto;
margin-left:auto;
text-align:right;
font-size: 0.9em;
}

.splitline{
width:500px;
}

.headerfutterhalf{
  max-width:500px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

.returntophalf{
  max-width:500px;
  margin-right:auto;
  margin-left:auto;
  text-align:right;
  font-size: 0.9em;
}

.splitlinehalf{
  max-width:500px;
}

.caution{
font-size:65%;
}

.partslist{
margin-right:auto;
margin-left:auto;
text-align:center;
border: groove darkgray;
/*border-collapse: collapse;*/
/*border: groove;*/
}

.parts{
border: solid 1px dimgray;
padding: 8px;
text-align:center;
/*border: inset;*/
}

.amonglist{
margin-right:auto;
margin-left:auto;
text-align:center;
border: groove darkgray;
/*border-collapse: collapse;*/
}

.among{
border: solid 1px dimgray;
padding: 0px 4px;
text-align:center;
/*border: inset;*/
}

h1 { color: #a2846c; font-size: 1.2em; text-align:center; }
h2 { color: #bdb76b; text-align:center; }
h3 { color: #bd674b; text-align:center; }
h4 { color: #5a2222; text-align:center; }

a:link { color: #ba2222; }
a:visited { color: #ca6aaa; }
a:hover { color: mediumvioletred; background-color: #eedddd; } 
address{ /*font-style:normal;*/ text-align:center; }
