body { 
margin: 20px; 
background-image: url("img/b006.gif");
/*background-color: #000000;*/
/*font-size: 1.0em;*/
color:#5a2222;
}

.all{
/*max-width:700px;*/
/*border-color:#999999;*/
/*border-width:2px;*/
/*border-style:solid;*/
margin-right:auto;
margin-left:auto;
text-align:center;
/*font-size: 0.9em;*/
}

.headerfutter{
width:500px;
margin-right:auto;
margin-left:auto;
text-align:center;
}

.returntop{
width:500px;
margin-right:auto;
margin-left:auto;
text-align:right;
font-size: 0.9em;
}

.splitline{
width:500px;
}

.headerfutterhalf{
  max-width:500px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

.returntophalf{
  max-width:500px;
  margin-right:auto;
  margin-left:auto;
  text-align:right;
  font-size: 0.9em;
}

.splitlinehalf{
  max-width:500px;
}

.caution_{
font-size:65%;
text-align:center;
color:#5a2222;
}

.caution_large{
font-size:80%;
text-align:center;
color:#5a2222;
}

.sys_msg_list{
  border: groove darkgray;
}

.sys_msg{
  border: solid 1px dimgray;
	font-size		: 90%;
  padding: 4px;
}

.group_header{
	color: #faf1fc;
	background-color: #777;
  font-weight: bold;
  font-size :100%;
  text-align: center;
}

.normal_small_header{
  /* color:#5a2222; */
	background-color: #ead1dc;
  font-size:80%;
}

.normal_header{
  /* color:#5a2222; */
	background-color: #ead1dc;
  font-weight: bold;
  font-size :95%;
}

.normal_no_header{
  /* color:#5a2222; */
	background-color: #ead1dc;
  font-weight: bold;
  text-align: right;
  padding-right: 16px;
  font-size :95%;
}

.long_small_header{
  /* color:#5a2222; */
	background-color: #d9d2e9;
  font-size:80%;
}

.long_header{
  /* color:#5a2222; */
	background-color: #d9d2e9;
  font-weight: bold;
  font-size :95%;
}

.long_no_header{
  /* color:#5a2222; */
	background-color: #d9d2e9;
  text-align: right;
  font-weight: bold;
  padding-right: 16px;
  font-size :95%;
}

.effect_small_header{
  /* color:#5a2222; */
	background-color: #cfe2f3;
  font-size:80%;
}

.effect_header{
  /* color:#5a2222; */
	background-color: #cfe2f3;
  font-weight: bold;
  font-size :95%;
}

.effect_no_header{
  /* color:#5a2222; */
	background-color: #cfe2f3;
  text-align: right;
  font-weight: bold;
  padding-right: 16px;
  font-size :95%;
}

.msg_result{
  color:blue;
  font-weight:bold;
}

table.sys_msg_list td.announce{
	background-color: #000;
	text-align: left;
}

/* .announce {
	border			: 1px solid #445;
	font-size		: 90%;
	margin			: 6px 0;
	padding			: 4px;
	width			: 530;
} */

.partslist{
margin-right:auto;
margin-left:auto;
text-align:center;
border: groove darkgray;
/*border-collapse: collapse;*/
/*border: groove;*/
}

.parts{
border: solid 1px dimgray;
padding: 8px;
text-align:center;
/*border: inset;*/
}

.amonglist{
margin-right:auto;
margin-left:auto;
text-align:center;
border: groove darkgray;
/*border-collapse: collapse;*/
}

.among{
border: solid 1px dimgray;
padding: 0px 8px;
text-align:center;
/*border: inset;*/
}

h1 { color: #a2846c; font-size: 1.2em; text-align:center; }
h2 { color: #bdb76b; text-align:center; }
h3 { color: #bd674b; text-align:center; }
h4 { color: #5a2222; text-align:center; }

a:link { color: #ba2222; }
a:visited { color: #ca6aaa; }
a:hover { color: mediumvioletred; background-color: #eedddd; } 
address{ /*font-style:normal;*/ text-align:center; }
