body { 
margin: 20px; 
background-image: url("img/b006.gif");
/*background-color: #000000;*/
/*font-size: 1.0em;*/
color:#5a2222;
}

.all{
/*max-width:700px;*/
/*border-color:#999999;*/
/*border-width:2px;*/
/*border-style:solid;*/
margin-right:auto;
margin-left:auto;
text-align:center;
/*font-size: 0.9em;*/
}

.headerfutter{
max-width:500px;
margin-right:auto;
margin-left:auto;
text-align:center;
}

.returntop{
max-width:500px;
margin-right:auto;
margin-left:auto;
text-align:right;
font-size: 0.9em;
}

.splitline{
max-width:500px;
}

.partslist{
margin-right:auto;
margin-left:auto;
text-align:center;
border: groove darkgray;
/*border-collapse: collapse;*/
/*border: groove;*/
}

.parts{
border: solid 1px dimgray;
padding: 8px;
text-align:center;
/*border: inset;*/
}

h1 { color: #a2846c; font-size: 1.2em; text-align:center; }
h2 { color: #bdb76b; text-align:center; }
h3 { color: #bd674b; text-align:center; }
h4 { color: #5a2222; text-align:center; }

/*strong { color:#5a2222; }*/

.list{ margin-left:210px; text-align:left; margin-right:130pt; }

/*li { margin-left:120px; text-align:left; }*/
p { 
/*color: #5a2222; */
/*line-height: 1.2em;*/
/*font-size:1.0em;*/

} 

a:link { color: #ba2222; }
a:visited { color: #ca6aaa; }
a:hover { color: mediumvioletred; background-color: #eedddd; } 
address{ /*font-style:normal;*/ text-align:center; }
