
 /* --- フィルタチェックテーブル全体のスタイル指定 ------- */
#filterlist {
  width          : 100%;
  text-align:center;
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  /*font-size      : 9pt;*/              /* 文字サイズ */
}

 /* --- 明細のスタイル指定 ----------------------- */
#filterlist td {
  text-align    : left;            /* 文字位置   */
  /*padding       : 1px 0px;*/             /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  white-space   : nowrap;
}

.indexnum{
background-color: #990000;
color:white;
font-size:0.7em;
}

.explain{
text-align:left;
padding : 1px 4px;
}

.detail{
text-align:left;
padding : 1px 4px;
}

.supplement{
text-align:left;
padding : 1px 4px;
}

/* 役職の色 */
.villager{ color:#000000; background-color:#99cc00; } /* 村人 */
.wolf{ color:#000000; background-color:#ff0000; } /* 人狼 */
.madman{ color:#000000; background-color:#ff9900; } /* 狂人 */
.fox{ color:#000000; background-color:#ffff00; } /* 妖魔 */
.immoral{ color:#008000; background-color:#ffff00; } /* 背徳 */
.doppel{ color:#000000; background-color:#ffff00; } /* ドッペルゲンガー(確率表は妖魔に入れている) */
.lovers{ color:#000000; background-color:#ff99cc; } /* 恋人 */
.revenger{ color:#000000; background-color:#cc99ff; } /* 復讐 */
.cult{ color:#000000; background-color:#c0c0c0; } /* 教祖 */
.vampire{ color:#000000; background-color:#99ccff; } /* 吸血鬼 */
.lonewolf{ color:#ffffff; background-color:#800000; } /* 一匹狼 */
.murderer{ color:#ffffff; background-color:#3366ff; } /* 殺人鬼 */
.wirepuller{ color:#ffffff; background-color:#000000; } /* 黒幕 */
.bat{ color:#ffffff; background-color:#808080; } /* 蝙蝠 */
.traveller{ color:#ffffff; background-color:#808000; } /* 旅人(確率表はその他に入れている) */
.forceddefeat{ color:#ffffff; background-color:#008080; } /* 強制敗北(確率表はその他に入れている) */
.others{ color:#ffffff; background-color:#333399; } /* その他 */

/* 窓の色 */
.sharewin{ background-color:#8fbc8f; } /* 緑：共有窓 */
.wolfwin{ background-color:#ff7777; } /* 赤：狼窓 */
.madmanwin{ background-color:#bdb76b; } /* 狂：狂窓 */
.foxwin{ background-color:#a69abd; } /* 妖：妖窓 */
.loverswin{ background-color:#ffc0cb; } /* 恋：恋窓 */
.gravewin{ background-color:#9fb7cf; } /* 墓：墓 */
.mixwin{ background-color:#ffe599; } /* 混：混信 */
.dollwin{ background-color:#b7b7b7; } /* 腹話：腹話 */
.nonewin{ background-color:transparent; }

/* 強調色 */
.emphasize{ background-color:#ffff99; }
/* コミットに含まれない網掛け用 */
.notcommit{ background-color:#cfe2f3; }

/* サブ付与自分等、太字強調用 */
.emphasizebold{ font-weight:bold; color:#990000; }

 /* --- テーブル全体のスタイル指定 ------- */
#roletable {
  width          : 100%;
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */
}
 /* --- ヘッダーのスタイル指定 ------------------- */
#roletable th {
  text-align    : center;            /* 文字位置   */
  /*font-weight   : bold;*/            /* 太文字     */
  font-weight   : normal;
  padding       : 1px 0px;             /* 余白       */
  /*border        : 1px #666666 solid; *//* 罫線       */
  border-left     : 1px #666666 solid; /* 罫線       */
  border-right    : 1px #666666 solid; /* 罫線       */
  background    : #ffe599;           /* 背景色     */
  white-space   : nowrap;
}
 /* --- 明細のスタイル指定 ----------------------- */
#roletable td:not(:nth-child(2)) {
  /*text-align    : center;*/            /* 文字位置   */
  /*padding       : 1px 0px;*/             /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  white-space   : nowrap;
}

 /* --- 役職の部分だけ罫線別 ----------------------- */
#roletable td:nth-child(2) {
  /*text-align    : center;*/            /* 文字位置   */
  /*padding       : 1px 0px;*/             /* 余白       */
  white-space   : nowrap;
}

.sticky_table th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  /* 高さが変わらないよう改行させない */
  white-space: nowrap;
}

.sticky_table th:not(.topfix)::before{
  content : "" ;
  position : absolute ;
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ;
  border-top: 1px #666666 solid;
  border-bottom: 1px #666666 solid;
}

/* 1番目の行(#,役職のセル除く) */
.sticky_table tr:nth-child(1) th:not(.topfix) {
  top: 0;
  z-index: 2;
}

/* 「#」「役職」のセル */
.topfix {
  left: 0;
  top: 0;
  z-index: 4;
}

.topfix::before{
  content : "" ;
  position : absolute ;
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ;
  border : 1px #666666 solid;
}


/* 役職名の列 */
.sticky_table td:nth-child(2) {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

.sticky_table td:nth-child(2)::before {
  content : "" ;
  position : absolute ;
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ;
  border : 1px #666666 solid;
}
